torch
torchvision
pillow
tqdm
trimesh
xatlas
git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8
xformers
tensorboard
pandas
lpips
zstandard
imageio
kornia
timm
pillow-simd
easydict
opencv-python-headless



